body {
  margin: 0;
  padding: 0;
  background-color: #fff8fa;
  font-family: 'Alata', sans-serif;
  color: #363636;
}

.container {
  display: flex;
  flex-direction: column;
}

.container .main-text {
  text-align: center;
}

header {
  padding: 0.5rem;
  text-align: center;
  height: 30vh;
}

header img {
  height: 100%;
}

.card-container {
  height: 35vh;
  display: flex;
  justify-content: center;
}

.credit-card {
  font-family: 'Source Code Pro', monospace;
  height: 250px;
  width: 450px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  background: rgba(232,72,120,1);
  background: -moz-linear-gradient(left, rgba(232,72,120,1) 0%, rgba(244,106,146,1) 55%, rgba(253,133,167,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,72,120,1)), color-stop(55%, rgba(244,106,146,1)), color-stop(100%, rgba(253,133,167,1)));
  background: -webkit-linear-gradient(left, rgba(232,72,120,1) 0%, rgba(244,106,146,1) 55%, rgba(253,133,167,1) 100%);
  background: -o-linear-gradient(left, rgba(232,72,120,1) 0%, rgba(244,106,146,1) 55%, rgba(253,133,167,1) 100%);
  background: -ms-linear-gradient(left, rgba(232,72,120,1) 0%, rgba(244,106,146,1) 55%, rgba(253,133,167,1) 100%);
  background: linear-gradient(to right, rgba(232,72,120,1) 0%, rgba(244,106,146,1) 55%, rgba(253,133,167,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84878', endColorstr='#fd85a7', GradientType=1 );
}

.credit-card>div {
  padding: 10px;
}

.credit-card h1, .credit-card p {
  margin: 0;
}

.card-title {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 25%;
}

.card-title img {
  height: 100%;
  width: auto;
}

.card-info {
  height: 20%;
}

.card-number {
  font-size: 12px;
}

.card-name {
  font-size: 28px;
}

#creditCardNumber {
  font-size: 36px;
  text-align: center;
  align-self: flex-end;
}

.info-container {
  text-align: center;
}

input {
  margin-top: 3px;
  padding: 15px;
  font-size: 16px;
  max-width: 300px;
  border: 1px solid #dcdcdc;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  text-decoration: none;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  text-decoration: none;
}

.validate-btn {
  border: solid 2px #363636;
  background: #fff8fa;
  text-decoration: none;
}

.validate-btn:hover {
  background:  #363636;
  color: #fff8fa;
}

